# Project exclude paths
/project/project/target/
/project/target/
/target/
/target/scala-2.12/classes/
project
lib
.idea
src/test

target
build.sbt
winutils.exe
.DS_Store
data/.DS_Store
data/LearningWordCountDatasets.txt
data/LearningScalaRDD.sc




